@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@theme {
  --font-sans: "Vazirmatn Variable", Tahoma, system-ui, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  line-height: 1.9;
  letter-spacing: 0;
}

h1,
h2,
h3 {
  line-height: 1.5;
}
